<!--<p>componente1 works!</p>-->
<h2>Nuestra historia comienza en 1969, cuando Samsung nació con la intención de ayudar
a que las personas logren lo imposible.
Después de más de 50 años, seguimos innovando, creando tecnología que derriba
las barreras antiguas y nuevas, y ayudando a las personas a lograr lo imposible.
Nuestro propósito nos sigue impulsando, y es por eso que ponemos a las personas y lo que les importa
en el centro de todo lo que creamos.</h2>
 <br><br>
 <iframe width="69%" height="74%" id="video" src="https://www.youtube.com/embed/uJKnIKWJBGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br><br><br><br>
 <mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile><img src="../../../assets/a.jfif" height="120%" width="" id="a"></mat-grid-tile>
    <mat-grid-tile><h1><section><p><strong> Somos pioneros implacables</strong></p></section>
      Allanamos el camino: vemos los obstáculos como oportunidades; no tenemos miedo de lo nuevo o lo desconocido; e imaginamos y creamos tecnología que abre nuevos a fin de que las personas logren lo imposible.</h1></mat-grid-tile>
  </mat-grid-list>  


<br><br>
 <mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/aa.png" height="100%" width="" id="a"></mat-grid-tile>
</mat-grid-list>
<!--Samsung evolucionó y se expandió por décadas desde sus comienzos en 1969. En coreano, la palabra 'Samsung' significa 'tres estrellas'. El nombre es la visión de su fundador Lee Byung-chull: brillar como las estrellas en el cielo, grandes, fuertes y eternas. 'Tres' representa lo grande, pleno y fuerte, y 'estrella' lo brillante, lo sublime y lo que brilla eternamente. Desde entonces, caminamos hacia un universo completo de posibilidades. Nos entusiasma compartir contigo el legado de nuestra marca, la historia de cómo se desarrolló todo. Conoce los hitos de la empresa y la evolución del logotipo a lo largo de los años.-->