<!--<p>componente2 works!</p>-->
<mat-grid-list cols="3" rowHeight="5:6">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>S22 Ultra</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/celu1.jpeg" alt="celular 1">
      <mat-card-content>
        <p class="card-text">/$300.000</p>
        <p class="card-text">/6.8" AMOLED</p>
        <p class="card-text">/8GB RAM</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>A53 5G</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/celu2.jfif" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">/$123.000</p>
        <p class="card-text">/6.5" sAMOLED</p>
        <p class="card-text">/8GB RAM</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Note 20 Ultra</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/celu3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">/$155.000</p>
        <p class="card-text">/6.9" Dynamic AMOLED</p>
        <p class="card-text">/12GB RAM</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Z Flip 4</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/celu4.webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">/$220.000</p>
        <p class="card-text">/6.7" Dynamic AMOLED</p>
        <p class="card-text">/8GB RAM</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Buds 2 Pro</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/auris1.webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">/$45.000</p>
        <p class="card-text">/Cancelacion de ruido inteligente</p>
        <p class="card-text">/Bluetooth v5.3</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Buds Live</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/auris2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">/$28.000</p>
        <p class="card-text">/Cancelacion de ruido inteligente</p>
        <p class="card-text">/Bluetooth v5.0</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>